<p id="notice"><%= notice %></p>





<fieldset class="search-field">
  <legend>Search Our Database for Talented Black and Latino Candidates</legend>

<%= search_form_for @search do |f| %>
  
<%= f.label "Skills" %><br />
<%= f.collection_check_boxes :skills_id_in_any, Skill.all, :id, :name %>
  
  </div>

  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</fieldset>

<h3>All Candidates</h3>
<p><% @employee_results.each do |b| %>
<strong><%= b.firstname %> <%= b.lastname %></strong><br>

<i>Years of Experience:</i> <%= b.yearsexperience %><br>
<i>Skills:</i> 
    <% b.skills.each do |skill| %>
     <%= skill.name %>, 
  <% end %><br>

<i>Geographic Area:</i> <%= b.address %> <br>
<i>Willing to Relocate?</i> <%= b.relocate %><br></p>
<% end %>