<p id="notice"><%= notice %></p>

<!--if user doesn't have employee profile -->
<%= link_to 'New Employee Profile', new_employee_path %>



<fieldset class="search-field">
  <legend>Search Our Database</legend>

<%= search_form_for @search do |f| %>
  
<%= f.label "Skills" %><br />
<%= f.collection_check_boxes :skills_id_in_any, Skill.all, :id, :name %>
  
  </div>

  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</fieldset>

<strong>All Candidates</strong>
<p><% @employee_results.each do |b| %>
<strong><%= b.firstname %> <%= b.lastname %></strong><br>

<i>Years of Experience:</i> <%= b.yearsexperience %><br>
<i>Skills:</i> 
    <% b.skills.each do |skill| %>
     <%= skill.name %> 
  <% end %><br>

<i>Geographic Area:</i> <%= b.address %> <br>
<i>Willing to Relocate?</i> <%= b.relocate %><br></p>
<% end %>